# Ignore artifacts:
public
resources
node_modules
go.sum
go.mod
pnpm-lock.yaml
package.json
.DS_Store
*.lock

# Ignore vendor directories
vendor/
Godeps/

# Ignore specific files
layouts/shortcodes/codefile.html
